
.container {
    background: white;
    padding: 48px 60px;
    border-radius: 12px;
    max-width: 980px;
    margin: 40px auto;
    box-sizing: border-box;
}

section {
    margin-bottom: 42px;
}

h2 {
    margin-bottom: 20px;
    padding-left: 4px;
}

p, li {
    line-height: 1.8;
}
